@page "/new-movie"
@attribute [StreamRendering]
@using BibliotekaMultimediowV2.Database
@using Microsoft.AspNetCore.Components.Forms
@using BibliotekaMultimediowV2.Types
@rendermode InteractiveServer
@inject MediaDb db
@inject NavigationManager Navigation

<PageTitle>Nowy Film</PageTitle>

<h1>Nowy Film</h1>

<EditForm Model="@newMovie" OnValidSubmit="SaveMovie">
    
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Tytuł:</label>
        <InputText @bind-Value="newMovie.Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Autor:</label>
        <InputText @bind-Value="newMovie.Author" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Rok:</label>
        <InputNumber @bind-Value="newMovie.Year" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Zapisz Film</button>

</EditForm>

@code {

    private Movie newMovie = new Movie();

    private void SaveMovie()
    {
        db.Movies.Add(newMovie);
        db.SaveChanges();
        Navigation.NavigateTo("/");
    }

}